<h1>New publusher</h1>

<%= form_for :publisher, routes.path(:create_publisher) do |f| %>
  <p>
    <%= f.label "Name", for: :name %>
    <%= f.text_field :name%>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

